##Data Structure Assignment

1. What are data structures, and why are they important ?
  -   Data structures are organized ways of storing, managing, and organizing data to enable efficient access and modification. They are a fundamental concept in computer science and programming, forming the backbone of most software applications.Data Structures are important because of there Efficient Data Handling, Improved Algorithm Performance, Solving Complex Problems, Memory Management, Foundation for Software Development. for example, Social Networks, Search Engines,Navigation Systems, E-Commerce Platforms etc.

2. Explain the difference between mutable and immutable data types with examples ?

  - The terms mutable and immutable describe whether or not a data type allows modifications to its content after it has been created.Mutable data types can be changed or modified after creation. This means you can update, add, or remove elements in place without creating a new object.Immutable data types cannot be changed after creation. Any operation that appears to modify an immutable object actually creates a new object.

3. What are the main differences between lists and tuples in Python ?

  - Lists and tuples are both used to store collections of data in Python. However, they have significant differences that impact their behavior and use cases. Lists are Mutable, You can modify elements, add, or remove them.Tuples are Immutable, Elements cannot be changed once the tuple is created. list are defined with square brackets []. Tuples are defined with parentheses ().Lists is slightly slower due to mutability. Tuples is Faster because they are immutable and require less memory.

4. Describe how dictionaries store data ?

    - Dictionaries in Python store data using a hash table structure, which allows for fast and efficient retrieval of values based on keys. This design ensures average-case O(1) time complexity for common operations like lookup, insertion, and deletion.

5. Why might you use a set instead of a list in Python ?

  - A set in Python is an unordered collection of unique elements. While a list can store duplicate and ordered elements, a set has distinct characteristics that make it a better choice in certain scenarios.Reasons to use a set instead of a list are:- Ensuring Uniqueness, Faster Membership Testing, Set Operations, Better for Large Data.

6. What is a string in Python, and how is it different from a list ?

  - A string in python is a sequence of characters enclosed in single (') or double (") quotes. Strings are used to represent text and are immutable, meaning they cannot be changed after creation. In contrast, a list is a collection of elements which can be of any type enclosed in square brackets ([]) and is mutable, meaning it can be modified after creation.

7. How do tuples ensure data integrity in Python ?

  - Tuples in Python ensure data integrity by being immutable, meaning their contents cannot be changed after creation. This immutability provides a robust way to maintain consistency and reliability, particularly in situations where data must remain unchanged throughout a program's execution.

8. What is a hash table, and how does it relate to dictionaries in Python ?

  - A hash table is a data structure that stores key-value pairs and uses a hashing function to map keys to specific locations or indices in an underlying array. This design enables efficient data storage, retrieval, and management, typically providing O(1) average time complexity for operations like lookups, insertions, and deletions.In Python, dictionaries are implemented using hash tables, making them one of the most efficient and versatile data structures for handling key-value pairs.

9. Can lists contain different data types in Python ?

  - Yes, lists in Python can contain elements of different data types. Python lists are highly versatile and can store any combination of data types, including integers, floats, strings, booleans, other lists, tuples, dictionaries, objects, or even custom data types.

10. Explain why strings are immutable in Python ?

  - In Python, strings are immutable, which means that once a string is created, its content cannot be changed. This design choice is deliberate and has several important benefits related to performance, safety, and design philosophy. The reasons why strings are immutable because of efficiency in memory management, Hashing, Performance Optimizations etc.

11. What advantages do dictionaries offer over lists for certain tasks ?

  - Dictionaries offer several advantages over lists for certain tasks, particularly when you need to store and retrieve data based on specific keys rather than relying on the order of elements. Dictionaries are better suited for tasks that involve key-based lookup, associating values with identifiers, or ensuring uniqueness. Lists are more appropriate for ordered collections where the sequence and index of items matter.

12. Describe a scenario where using a tuple would be preferable over a list ?

  - A tuple would be preferable over a list in scenarios where immutability and data integrity are important, or when you need to group related data together in a fixed and consistent way. Here's a specific scenario where a tuple would be the better choice:- Imagine you are developing an application that stores geographic coordinates latitude and longitude for locations. Since geographic coordinates are meant to be fixed, it is important that they cannot be changed once they are set, to avoid any accidental modification or corruption of the data.

13. How do sets handle duplicate values in Python ?

  - In Python, sets automatically handle duplicate values by removing them. A set is an unordered collection of unique elements, and it does not allow any duplicate values. When you attempt to add a duplicate element to a set, it will be ignored, and the set will remain unchanged.

14. How does the “in” keyword work differently for lists and dictionaries ?

  - The in keyword in Python is used to test membership, but its behavior differs between lists and dictionaries because of how these data structures are designed. Use in for lists when you want to check for the presence of a specific element.Use in for dictionaries when you want to check for the presence of a specific key. To check for values, you need to explicitly access .values().

15. Can you modify the elements of a tuple ? Explain why or why not

  - No, you cannot modify the elements of a tuple in Python. Tuples are immutable, which means that once a tuple is created, its contents elements cannot be changed, added, or removed. This immutability is a fundamental property of tuples in Python.

16. What is a nested dictionary, and give an example of its use case ?

  - A nested dictionary in Python is a dictionary where a dictionary itself is stored as a value for a key. It allows hierarchical, multi-level data organization, making it useful for representing complex data structures. for example:- Imagine you are creating a system to manage student records. Each student has multiple attributes like name, age, and grades for various subjects. A nested dictionary is an ideal structure to organize this data.

17. Describe the time complexity of accessing elements in a dictionary ?

  - Accessing elements in a Python dictionary is generally very fast due to its underlying implementation using hash tables. The time complexity of accessing an element depends on the operation and certain factors, such as hash collisions.

18. In what situations are lists preferred over dictionaries ?

  - Lists and dictionaries are both powerful data structures in Python, but they are suited to different use cases. Lists are preferred over dictionaries in situations where:Sequential  ordered data, Positional access by index, Duplicate values, Simplicity for tasks involving iteration or aggregation without needing key-value relationships.

19. Why are dictionaries considered unordered, and how does that affect data retrieval ?

  - Dictionaries in Python are considered unordered in terms of how they store and manage their elements internally. This characteristic arises from the use of hash tables for their implementation.This affects data retrieval by requiring keys instead of positional indexes, which provides fast lookups.

20. Explain the difference between a list and a dictionary in terms of data retrieval ?

  - The primary difference between a list and a dictionary in Python lies in how data is retrieved and accessed,Each structure is suited to specific types of tasks, and their choice depends on whether you need index-based sequential access list or key-based lookups dictionary.

In [1]:
# 1. Write a code to create a string with your name and print it.

# Create a string with  name
name = "Gaurav Sharma"

# Print the string
print(name)

Gaurav Sharma

In [2]:

# 2. Write a code to find the length of the string "Hello World"


# Define the string
string = "Hello World"

# Find and print the length of the string
length = len(string)
print("The length of the string is:", length)

The length of the string is: 11

In [3]:
# 3. Write a code to slice the first 3 characters from the string "Python Programming"

# Define the string
string = "Python Programming"

# Slice the first 3 characters
sliced = string[:3]

# Print the sliced string
print("The first 3 characters are:", sliced)

The first 3 characters are: Pyt

In [4]:

# 4. Write a code to convert the string "hello" to uppercase

# Define the string
string = "hello"

# Convert the string to uppercase
uppercase_string = string.upper()

# Print the uppercase string
print("The string in uppercase is:", uppercase_string)

The string in uppercase is: HELLO

In [5]:
# 5.  Write a code to replace the word "apple" with "orange" in the string "I like apple"

# Define the string
string = "I like apple"

# Replace "apple" with "orange"
new_string = string.replace("apple", "orange")

# Print the updated string
print("Updated string:", new_string)

Updated string: I like orange

In [6]:
# 6. Write a code to create a list with numbers 1 to 5 and print it

# Create a list with numbers 1 to 5
numbers = [1, 2, 3, 4, 5]

# Print the list
print("The list is:", numbers)

The list is: [1, 2, 3, 4, 5]

In [7]:
# 7. Write a code to append the number 10 to the list [1, 2, 3, 4]

# Define the list
numbers = [1, 2, 3, 4]

# Append the number 10 to the list
numbers.append(10)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 3, 4, 10]

In [8]:
# 8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

# Define the list
numbers = [1, 2, 3, 4, 5]

# Remove the number 3 from the list
numbers.remove(3)

# Print the updated list
print("Updated list:", numbers)

Updated list: [1, 2, 4, 5]

In [9]:

# 9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

# Define the list
letters = ['a', 'b', 'c', 'd']

# Access the second element (index 1)
second_element = letters[1]

# Print the second element
print("The second element is:", second_element)

The second element is: b

In [10]:
# 10. Write a code to reverse the list [10, 20, 30, 40, 50]


# Define the list
numbers = [10, 20, 30, 40, 50]

# Reverse the list
reversed_numbers = numbers[::-1]

# Print the reversed list
print("Reversed list:", reversed_numbers)

Reversed list: [50, 40, 30, 20, 10]

In [11]:
# 11. Write a code to create a tuple with the elements 100, 200, 300 and print it

# Create a tuple with elements 10, 20, 30
my_tuple = (100, 200, 300)

# Print the tuple
print("The tuple is:", my_tuple)

The tuple is: (100, 200, 300)

In [12]:
#12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

colors = ('red', 'green', 'blue', 'yellow')
second_to_last = colors[-2]
print(second_to_last)

blue

In [14]:
#13. Write a code to find the minimum number in the tuple (10, 20, 5, 15).

numbers = (10, 20, 5, 15)
min_number = min(numbers)
print("The Minimum Number is:-",min_number)

The Minimum Number is:- 5

In [15]:
#14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

animals = ('dog', 'cat', 'rabbit')
index_of_cat = animals.index('cat')
print(index_of_cat)

1

In [17]:
#15. Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

fruits = ('apple', 'banana', 'cherry')
if 'kiwi' in fruits:
    print("Kiwi is in the tuple.")
else:
    print("Kiwi is not in the tuple.")

Kiwi is not in the tuple.

In [19]:
#16. Write a code to create a set with the elements 'a', 'b', 'c' and print it.

my_set = {'a', 'b', 'c'} #Sets in Python are unordered, meaning the elements may not appear in the same order as you defined them
print(my_set)

{'c', 'b', 'a'}

In [20]:
#17. Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

my_set = {1, 2, 3, 4, 5}
my_set.clear()
print(my_set)

set()

In [21]:
#18. Write a code to remove the element 4 from the set {1, 2, 3, 4}.

my_set = {1, 2, 3, 4}
my_set.remove(4)
print(my_set)

{1, 2, 3}

In [22]:
#19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}.

set1 = {1, 2, 3}
set2 = {3, 4, 5}
union_set = set1.union(set2)
print(union_set)

{1, 2, 3, 4, 5}

In [23]:
#20. Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}.

set1 = {1, 2, 3}
set2 = {2, 3, 4}

intersection_set = set1.intersection(set2)
print(intersection_set)

{2, 3}

In [24]:
#21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

my_dict = {
    "name": "Gaurav",
    "age": 31,
    "city": "Durg"
}
print(my_dict)

{'name': 'Gaurav', 'age': 31, 'city': 'Durg'}

In [25]:
#22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

my_dict = {'name': 'John', 'age': 25}
my_dict['country'] = 'USA'
print(my_dict)

{'name': 'John', 'age': 25, 'country': 'USA'}

In [28]:
#23. Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}.

person = {'name': 'Alice', 'age': 30}
name_value = person['name']
print(name_value)

Alice

In [29]:
#24. Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

person = {'name': 'Bob', 'age': 22, 'city': 'New York'}
del person['age']
print(person)

{'name': 'Bob', 'city': 'New York'}

In [30]:
#25. Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

person = {'name': 'Alice', 'city': 'Paris'}
if 'city' in person:
    print("The key 'city' exists in the dictionary.")
else:
    print("The key 'city' does not exist in the dictionary.")

The key 'city' exists in the dictionary.

In [31]:
#26. Write a code to create a list, a tuple, and a dictionary, and print them all.

# Creating a list
my_list = [1, 2, 3, 4]

# Creating a tuple
my_tuple = (10, 20, 30)

# Creating a dictionary
my_dict = {'name': 'Alice', 'age': 25}

# Printing all
print("List:", my_list)
print("Tuple:", my_tuple)
print("Dictionary:", my_dict)

List: [1, 2, 3, 4]
Tuple: (10, 20, 30)
Dictionary: {'name': 'Alice', 'age': 25}

In [32]:
#27. Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

import random

# Generate a list of 5 random numbers between 1 and 100
random_numbers = random.sample(range(1, 101), 5)

# Sort the list in ascending order
random_numbers.sort()

# Print the sorted list
print("Sorted Random Numbers:", random_numbers)

Sorted Random Numbers: [4, 12, 69, 73, 99]

In [33]:
#28. Write a code to create a list with strings and print the element at the third index.

# Creating a list with strings
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

# Accessing and printing the element at the third index (0-based index)
print(my_list[3])

date

In [34]:
#29. Write a code to combine two dictionaries into one and print the result.

dict1 = {'a': 1, 'b': 2}
dict2 = {'c': 3, 'd': 4}

# Merging using update()
combined_dict = dict1.copy()  # Make a copy to avoid modifying the original
combined_dict.update(dict2)

print(combined_dict)

{'a': 1, 'b': 2, 'c': 3, 'd': 4}

In [35]:
#30. Write a code to convert a list of strings into a set.

# List of strings
my_list = ["apple", "banana", "cherry", "apple", "banana"]

# Convert list to set
my_set = set(my_list)

# Print the set
print(my_set)

{'banana', 'apple', 'cherry'}